<meta charset="utf-8">

<aside class="aside typeset">

<p style="color: blue; font-weight: bold"><u>The principle of space</u> - </p>
<p style="color: purple; font-weight: bold">Space is formless | Space is infinite | Space is all-pervasive </p> 

<p style="color: teal; font-style: italic">
akasadvayuh vayoragnih agnerapah adbhyah prithvi<br/>
prithivya osadhayah osadhibhyi-nnam annatpurusah<br/>
(Taittriya Upanishad - Anandavalli) </p>

<p style="font-style: italic"> The knower of Brahman reaches the Supreme. Real consciousness, Infinite is Brahman; who so know the one hid in the cave in the highest heaven attains all desires together as Brahman as the wise. (In the heaven of heart, there is the cave of buddhi or understanding and in the cave is Brahman hidden). From that verily (from this self), is akasa born; from akasa - the air; from the air - fire; from fire - water; from water - earth; from earth - plants; from plants - food; from food - man. He, verily, is this man formed of food essence. This itself (the self) is his head; this is the right wing; this is the left wing; this is the self; this is the tail, the support. </p>
<p style="color: orange; font-weight: bold">When you remove the veil of illusion and desires, you experience the vast infinite inner space.</p>

</aside>
